@using portfolio.web.Components.Layout.Components

<nav class="p-2 px-4 pt-5 flex flex-col gap-1">
    <NavLinkComponent FAIcon="fa-solid fa-house" Href="/" Label="Dashboard"/>
    <NavLinkComponent FAIcon="fa-solid fa-laptop-code" Href="/projects" Label="Projects"/>
    <NavLinkComponent FAIcon="fa-regular fa-address-card" Href="/about" Label="About"/>
</nav>