@page "/projects"

<section class="h-full overflow-auto flex flex-col">
    <div class="flex-1">
        @for (int i = 0; i < 100; i++)
        {
            <div>
                test
            </div>
        }
    </div>
</section>